<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.even.system.mapper.BsMenuMapper">
    <resultMap id="menus" type="com.even.system.dto.MenuDTO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="COMPONENT" property="component" jdbcType="VARCHAR" />
        <result column="ICON" property="icon" jdbcType="VARCHAR" />
        <result column="PATH" property="path" jdbcType="VARCHAR" />
        <result column="PID" property="pid" javaType="INTEGER"/>
        <result column="I_FRAME" property="iFrame" jdbcType="INTEGER" />
        <association property="meta" javaType="com.even.system.dto.Meta">
            <result property="title" column="NAME" javaType="java.lang.String"/>
            <result property="icon" column="ICON" javaType="java.lang.String"/>
        </association>
        <collection column="id" property="children" ofType="com.even.system.dto.MenuDTO" select="findByRoleId" />
    </resultMap>
    <select id="findByRoleId" parameterType="int" resultMap="menus">
        select
            BS_MENU.ID,
            BS_MENU.NAME,
            BS_MENU.COMPONENT,
            BS_MENU.PID,
            BS_MENU.SORT,
            BS_MENU.ICON,
            BS_MENU.PATH,
            BS_MENU.I_FRAME
        from BS_MENU where BS_MENU.PID=#{id} order by BS_MENU.SORT asc
    </select>



    <select id="findByRoles" resultMap="menus">
        select
               BS_MENU.ID,
               BS_MENU.NAME,
               BS_MENU.COMPONENT,
               BS_MENU.PID,
               BS_MENU.SORT,
               BS_MENU.ICON,
               BS_MENU.PATH,
               BS_MENU.I_FRAME,
               BS_MENU.CREATE_TIME
        from BS_MENUS_ROLES
        left join BS_MENU on BS_MENUS_ROLES.MENU_ID=BS_MENU.ID
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
